<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Decola Tech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/flashcards_decola_tech.styles.css" asp-append-version="true" /> *@
</head>
<body class="h-100 d-flex flex-column">
    <div class="h-100 container d-flex align-items-center justify-content-center">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer mt-auto text-muted text-center ">
        <div class="container my-3">
            &copy; 2023 - Desenvolvido com 🧡 por <a style="text-decoration: none;" target="_blank" href="https://github.com/livnascimento/flashcards-decola-tech">Lívia Nascimento</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
